<footer class="bg-dark text-white text-center fixed-bottom">
    <!-- Copyright -->
    <div class="text-center p-3 bg-dark">
      <label>© Con la tecnologia de Express - 2023 </label> 
      <a class="text-light bi bi-github" href="https://github.com/Santiscv/CRUD"></a>
    </div>
  </footer>
  