<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">CRUD</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Persona</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/oficina">Oficina</a>
          </li>
        </ul>
      </div>
      <div class="ml-auto">
        <a class="text-light bi bi-github" href="https://github.com/Santiscv/CRUD"></a>
    </div>
    </div>
  </nav>

  